@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-dark:     #C47F17;
    --primary:          #DBAC2C;
    --primary-light:    #F1E9C9;

    --secondary-dark:   #4B2995;
    --secondary:        #8047F8;
    --secondary-light:  #EBE5F9;

    --base-title:       #272221;
    --base-subtitle:    #403937;
    --base-text:        #574F4D;
    --base-label:       #8D8686;
    --base-hover:       #D7D5D5;
    --base-button:      #E6E5E5;
    --base-input:       #EDEDED;
    --base-card:        #F3F2F2;

    --background:       #FAFAFA;
    --white:            #FFFFFF;
  }
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background: #FAFAFA;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
  }
  :focus {
    outline: 0;
    box-shadow: 0 0 0 2px #D7D5D5
  }
}